body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
font-size: 25px;


}
.logo {
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sub-logo {
    margin-top: 0px;
    margin-left: 200px;
}


h1{
    color: red;
}
.text1 {margin-top: 50px;}

.bois-text{color: rgb(255, 0, 21);}